
body {
	font-family: 'Open Sans', sans-serif;
}

.card {
	border-style: none;
}

.card-header {
	background-color: none;
	border-color: #ffe6ff;
}

.card-footer {
	background-color: none;
	border-color: #ffe6ff;
}
