body {
/*	
background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/92/Blue_marble_2015.jpg);
*/
font-family: 'Open Sans', sans-serif;

	background-color: #000000;
	padding: 20px;	
}


h4 {

font-family: 'Coustard', serif;

}

h1 {
  font-family: 'Coustard', serif;

}

.jumbotron{
	
	background-color: #F7FBFF;
}

.col-md-6 {
	
}

/* Custom button
-------------------------------------------------- */

/* Override base .btn styles */
/* Apply text and background changes to three key states: default, hover, and active (click). */
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #007da7;
}

/* Apply the custom-colored gradients */
/* Note: you'll need to include all the appropriate gradients for various browsers and standards. */
.btn-ttc {
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #009ED2 0%, #007DA7 100%);
  ...
}

/* Set the hover state */
/* An easy hover state is just to move the gradient up a small amount. Add other embellishments as you see fit. */
.btn-ttc:hover {
  background-position: 0 -15px;
}

.thumbnail {

padding: 0em 1.5em 0em 1.5em;

}
/*
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.428571429;
  background-image: url(../images/thumb02.gif);
  border: 4px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
		  
}

.thumbnail > img,
.thumbnail a > img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #428bca;
  background-color: #DDD;
}

.thumbnail .caption {
  padding: 9px;
  color: #333333;

  */
}
