
body {
	font-family: 'Open Sans', sans-serif;
}

.card {
	border-style: none;
}

.card-header {
	background-color: transparent;
	border-color: #ffe6ff;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
}

.card-title {
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
}

.card-text {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}

.card-footer {
	background-color: transparent;
	border-color: #ffe6ff;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}
